
@{
    ViewBag.Title = "Graph ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MaxithermalWebApplication.Models.Setting
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/chartjs-plugin-annotation.min.js"></script>


</head>

<div Style="font-family: Corbel; font-size: small ;text-align:center " class="row">
    <div style="width:100%;height:80%">
        @*<input type="button" value="New Data" onclick="RandomData()">*@
        <canvas id="myChart" style="padding: 0;margin: auto;display: block; "> </canvas>

    </div>
</div>
<script>
    // create initial empty chart
    var ctx = $("#myChart").get(0).getContext("2d");
    var myNewChart = new Chart(ctx, {
        type: 'line',
        data: [],
        options: {
            responsive: true,
            title: { display: true, text: 'Temperature graphs' },
            legend: { position: 'top' },
            scales: {
                xAxes:
                [
                    {
                        gridLines: { display: true },
                        display: true,
                        scaleLabel: { display: false, labelString: '' },
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 12
                        },
                    }
                ],
                yAxes:
                [
                    {
                        gridLines: { display: true },
                        display: true, scaleLabel: { display: false, labelString: '' },
                        ticks:
                        {
                            stepSize: 5,
                            beginAtZero: false,
                            maxTicksLimit: 10,

                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Temperature'
                        },
                        position: 'left',
                        id: 'y-axis-1',
                    },
                    
                ]
            },
            showLines: true, // disable/anable  for all datasets
            elements: {
                line: {
                    tension: 0, // disables bezier curves
                    borderWidth:5
                },
                point: {
                    radius: 0
                },

            },

        }
    });

    //Record ID
    var lastRecordID;
    // logic to get new data
    var getAllData = function ()
    {
        $.ajax({
            type: "POST",
            url: "/Graphs/Chart/",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (chData) {
                var aData = chData;
                //var aLabels = aData[2];
                var dateUnix = chData[2];
                //var aLabels = [dateUnix.length];
                //for (var i = 0; i < dateUnix.length; i++) {
                //    aLabels[i] = new Date(dateUnix[i] * 1000).toLocaleTimeString();
                //}
                //lastRecordID = aLabels[aLabels.length - 1];
                //console.log(lastRecordID);
                var aLabels = chData[2];
                var aDatasets1 = aData[0];
                var DataSet2 = aData[1];
                var dataChart = {
                    labels: aLabels,
                    datasets:
                    [
                        {
                            label: "Temp",
                            data: aDatasets1,
                            fill: false,
                            borderColor: 'rgba(52, 67, 235, 0.97)',
                            backgroundColor: 'rgba(52, 67, 235, 0.97)',
                            borderWidth: 1,
                            yAxisID: 'y-axis-1',
                        },
                        {
                            label: "Humid",
                            data: DataSet2,
                            fill: false,
                            borderColor: 'rgba(52, 235, 89, 1)',
                            backgroundColor: 'rgba(52, 235, 89, 1)',
                            borderWidth: 1,
                            yAxisID: 'y-axis-2'
                        }
                    ]
                };
                // add label and data point to chart
                myNewChart.label = aLabels;
                myNewChart.data = dataChart;

                // re-render the chart
                myNewChart.update();
            }
        });
    }
   // getAllData();

    
</script>